<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='canonical' href=''>
    <title>
        <%= pg_title %>
    </title>
    <meta name="description" content="<%= pg_description %>">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    



    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-fit-text" src="/js/amp-fit-text-0.1.js"></script>
    <script defer src='/js/main.js'></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/font.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/w3.css'>


    <meta property=og:url content="/" />

  <%- include('./assets/meta_'); %>



  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZM1XGQ6SW4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-ZM1XGQ6SW4');
  </script>

</head>
 

<body>
    <div data-role="page">
        <div data-head="header">
            <div data-title=""> 
                <div class="w3-row">
                    <div class="w3-col s7"><%= pg_title %></div>
                    <div class="w3-col s4">Tel: +1 721 526 5574</div>
                </div>  
            </div>


            <%- include('./assets/topNav'); %>
        </div>
        <div data-page="main">
            <!--  -->
            <div class="ui-content w3-padding">
                <%- include('./assets/tempNav'); %>

                <h1>Rejuvenate Together: In-Room Couple's Massage Service in Sint Maarten</h1>

                <div class="w3-row">
                    <div class="w3-col s12 m8 l10"> <p>Unwind and reconnect with your loved one with a relaxing in-room couple's massage during your
                    Caribbean vacation. Our mobile massage therapists bring the spa experience directly to your hotel
                    room, creating a tranquil haven for two</p></div>
                    <div class="w3-col s12 m4 l2"><img src="<%= img_arr[0].src %>" alt="<%= img_arr[0].alt %>"
                                    title="<%= img_arr[0].title %>" width="100%" class="w3-image" /></div>
                </div>

               

                <h2>Spoil yourselves in Paradise with a Mobile Couple's Massage</h2>

                <p>Imagine this: you and your partner are on a romantic getaway in Sint Maarten, soaking up the
                    Caribbean sun. You're feeling relaxed and carefree, but you could both use a little extra pampering.
                    That's where our mobile couple's massage service comes in.</p>
                    <div class="w3-row">
                        <div class="w3-col m4 w3-padding"><img src="<%= img_arr[1].src  %>" alt="<%=img_arr[1].alt %>" class="w3-image" /></div>
                        <div class="w3-col m4 w3-padding "><img src="<%= img_arr[2].src  %>" alt="<%=img_arr[2].alt %>" class="w3-image" /></div>
                        <div class="w3-col m4 w3-padding "><img src="<%= img_arr[3].src  %>" alt="<%=img_arr[3].alt %>" class="w3-image" /></div>
                    </div>
                <h3>The Perfect Way to De-Stress and Reconnect</h3>
                <p>A couple's massage is a great way to de-stress and reconnect with your partner. The physical touch of
                    massage can help to reduce tension and anxiety, while the shared experience can create a sense of
                    intimacy and connection.</p>

                <h4>More Than Just a Massage: A Romantic Experience</h4>
                <p>Our mobile couple's massage service is more than just a massage; it's a romantic experience that you
                    and your partner will never forget. It's the perfect way to add a touch of luxury to your Caribbean
                    vacation.

                </p>

                <h5>Book Your In-Room Couple's Massage Today</h5>
                <p>Don't miss out on this opportunity to pamper yourselves together. Book your in-room couple's massage
                    service in Sint Maarten today!

                </p>

                <h6>Ready to Relax and Reconnect? Book Your Mobile Couple's Massage Today!</h6>
                <p>If you are looking for a way to relax, de-stress, and reconnect with your partner, then a mobile
                    couple's massage is the perfect solution. Book your massage today and start planning your
                    unforgettable Caribbean vacation!</p>













            </div>
            <!--  -->

            <!-- <amp-img id="firstImage" ; layout='responsive' ; style="float:right;"
        alt="st maarten massage onsite on location" title="sxm-massage-ban1"
        src="<%= img_arr[0].src %>" width="180px" height="180px" 
        srcset="
        <%= img_arr[0].src %> 220w,
        <%= img_arr[0].src %> 320w"
 sizes="(max-width: 350px) 18vw, 22vw">
    </amp-img> -->
        </div>
    </div>
</body>

</html>