<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='canonical' href=''>
    <title>
        <%= pg_title %>
    </title>
    <meta name="description" content="<%= pg_description %>">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    



    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-fit-text" src="/js/amp-fit-text-0.1.js"></script>
    <script defer src='/js/main.js'></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/font.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/w3.css'>


    <meta property=og:url content="/" />

    <meta property="og:type" content="business.business">
    <meta property="og:title" content="<%= pg_title %>">
    <meta property="og:description" content="<%= pg_description %>">

    <meta property="og:image" content="/images/social_media_big.png">
    <meta property="business:contact_data:street_address" content="Sea Island Cotton dr">
    <meta property="business:contact_data:locality" content="philipsburg">
    <meta property="business:contact_data:region" content="Cole Bay">
    <meta property="business:contact_data:postal_code" content="0000">
    <meta property="business:contact_data:country_name" content="St Maarten">
    <meta name="author" content="Gabe Bytes">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ico/favicon-16x16.png">


    <!-- <link rel="manifest" href="/site.webmanifest"> -->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sxmobilemassage">
    <meta name="twitter:title" content="<%= pg_title %>">
    <meta name="twitter:image" content="/images/social_media_big.png">
    <meta name="twitter:description" content="<%= pg_description %>">
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "DaySpa",
        "name": "St Maarten Massage Service - At Home and Hotel Mobile Spa",
        "image": "files/images/social_media_big.png",
        "@id": "",
        "url": "https://st-maarten-mobile-massage-service.com",
        "telephone": "+17215265574",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "sea island cotton dr",
        "addressLocality": "philipsburg",
        "postalCode": "0000",
        "addressCountry": "SX"
        },
        "geo": {
        "@type": "GeoCoordinates",
        "latitude": 18.0295839,
        "longitude": -63.04713709999999
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        },
        "sameAs": [
        "https://www.facebook.com/stmaartenmassage",
        "https://twitter.com/sxmobilemassage",
        "https://www.instagram.com/sxm_mobile_massage_/"
        ] 
        }
        </script>



  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZM1XGQ6SW4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-ZM1XGQ6SW4');
  </script>

</head>
 

<body>
    <div data-role="page">
        <div data-head="header">
            <div data-title=""> <%= pg_title %></div>
            <%- include('./assets/topNav'); %>
        </div>
        <div data-page="main">
            <!--  -->
            <div class="ui-content w3-padding">
                <%- include('./assets/tempNav'); %>

                













            </div>
            <!--  -->

            <!-- <amp-img id="firstImage" ; layout='responsive' ; style="float:right;"
        alt="st maarten massage onsite on location" title="sxm-massage-ban1"
        src="<%= img_arr[0].src %>" width="180px" height="180px" 
        srcset="
        <%= img_arr[0].src %> 220w,
        <%= img_arr[0].src %> 320w"
 sizes="(max-width: 350px) 18vw, 22vw">
    </amp-img> -->
        </div>
    </div>
</body>

</html>