<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        <%= pg_title %>
    </title>
    <meta name="description" content="<%= pg_title %>">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
      <script defer src='/js/main.js'></script>
   <link rel='stylesheet' type='text/css' media='screen' href='/css/w3.css'>
   %- include('./assets/meta_'); %>
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZM1XGQ6SW4"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-ZM1XGQ6SW4');
   </script>
</head>

<body>
    <div data-role="page">
        <div data-head="header">
      <div data-title=""></div>
      <%- include('./assets/topNav'); %>
        </div>
        <div data-page="main">
            <!--  -->
            <div class="ui-content w3-padding">
                <%- include('./assets/tempNav'); %>

                
                
                
                

                

                





            </div>
            <!--  -->

            <!-- <amp-img id="firstImage" ; layout='responsive' ; style="float:right;"
        alt="st maarten massage onsite on location" title="sxm-massage-ban1"
        src="<%= img_arr[0].src %>" width="180px" height="180px" 
        srcset="
        <%= img_arr[0].src %> 220w,
        <%= img_arr[0].src %> 320w"
 sizes="(max-width: 350px) 18vw, 22vw">
    </amp-img> -->
        </div>
    </div>
</body>

</html>